<section class="bg-primary" id="about"> <!--HOW CAN I HELP? Section-->
    <div class="container">
        <!--=<div class="row">-->
            <!--<div class="col-lg-8 col-lg-offset-2 text-center">-->
              <div class="col-lg-12 text-center">
                <h2 class="section-heading">Amber</h2>
                <hr class="light">
                <p>I recently graduated from Bournemouth University with a BSc Hons in Psychology and have just started out in my career, where I am very lucky to be helping others.
<div class="row">
<p>Since lockdown, it's been only too obvious that seeing our friends, family and celebrating even the little things in life, has been difficult for us all.
</div>
<div class="row">
<p>So, I decided to take the opportunity to begin Ambers Blooming Balloons, to help start putting a smile back on people's faces.
</div>
<div class="row">
<p>For further information on ideas and some of the displays I've already done, please click the navigation bar above.</p>
        <!--<a href="#" class="btn btn-default btn-xl">Get Started!</a>   class="text-faded"  -->
            </div>
        </div>
    </div>
</section>
